@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Friends Contact List API</p>
    <p>Mainly focused on API experience</p>
    <p>DOCS: </p>
    <button onclick="location.href = '@Url.Action( "ReDoc","Home")'"> ReDoc </button>
    <button onclick="location.href = '@Url.Action( "Swagger","Home")'"> Swagger </button>

</div>
